
Source/.vs/SamplePlugin.Windows/v14/.suo
Source/obj/Windows/AnyCPU/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
Source/obj/Windows/AnyCPU/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Source/Assembly-CSharp.dll
Source/Assembly-CSharp-firstpass.dll
*.dll
